@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(0, 0, 0);
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #090909;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #434242;
}

.presentation-div {
  background-image: url("../assets/images/background/background-minimal.png");
  background-size: max(100% 100%);
  background-repeat: no-repeat;
  background-position: center;
  height: 740px;
}

.astronaut-div {
  background-image: url("../assets/images/background/black-minimal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: min(360px);
  height: 400px;
  background-position: center center;
}

.divTimeline {
  background-image: url("../assets/images/background/stars.jpg");
  background-size: contain;
}

.projects-div {
  background-image: url("../assets/images/background/stars.jpg");
  background-size: contain;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  height: auto;
}

.slide {
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: #8103f1;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}
.indicator:hover {
  transform: scale(1.4);
}

.indicator-inactive {
  background-color: #fbfbfb;
}
